# Python
__pycache__/
*.py[cod]
*$py.class
**/*.egg-info
.coverage

# Virtual Environment
/.venv/

# IDE
.idea/
.vscode/
.cache/

# Tests
.pytest_cache/

# Misc
.DS_Store
*.swp

# Auto generated
.converage
reports/
